@*用来显示Project项目*@
@using ProjectManager.Models;
@model List<ProjectInfo>
@{
    Layout = null;
}
@if(Model != null)
{
    for(int j=0 ; j < Model.Count ; j++)
    {
        if(Model[j].MISStatus.Equals("Release"))
        {
            <div class="panel panel-danger" style="margin:10px 0 0 0">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model[j].ID &nbsp;&nbsp; @Model[j].ProjectID</h3>
                </div>
                <div class="panel-body">
                   MISStatus: @Model[j].MISStatus <br />
                    StartDate:@Model[j].StartDate <br />
                    ReleaseDate:@Model[j].ReleaseDate <br />
                    LanuchDate:@Model[j].LanuchDate
                </div>
            </div>
        }
        else if(Model[j].MISStatus.Equals("Load"))
        {
            <div class="panel panel-info" style="margin:10px 0 0 0">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model[j].ID &nbsp;&nbsp; @Model[j].ProjectID</h3>
                </div>
                <div class="panel-body">
                    MISStatus: @Model[j].MISStatus <br />
                    StartDate:@Model[j].StartDate <br />
                    ReleaseDate:@Model[j].ReleaseDate <br />
                    LanuchDate:@Model[j].LanuchDate
                </div>
            </div>
        }
        else if(Model[j].MISStatus.Equals("Coding"))
        {
            <div class="panel panel-success" style="margin:10px 0 0 0">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model[j].ID &nbsp;&nbsp; @Model[j].ProjectID</h3>
                </div>
                <div class="panel-body">
                    MISStatus: @Model[j].MISStatus <br />
                    StartDate:@Model[j].StartDate <br />
                    ReleaseDate:@Model[j].ReleaseDate <br />
                    LanuchDate:@Model[j].LanuchDate
                </div>
            </div>
        }
    }
}

